---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Der Vorstand">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Der Vorstand</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Der Vorstand stellt sich vor.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Wir treffen uns regelmäßig, um im Team die vielen kleinen und größeren Aufgaben rund um unseren Kleingartenverein ehrenamtlich zu erledigen. Dazu gehören zum Beispiel die Aufnahme von neuen Mitgliedern, die Organisation der Mitgliederversammlung, die Jahresabrechnungen, der Kontakt zum Stadt- und Bezirksverband oder die Aushänge im Schaukasten.  Ihr erreicht uns alle zusammen über die E-Mailadresse: mail@imauenviertel.de       </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
