---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import {Picture} from "astro:assets";
---
<Layout title="Blog">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Datenschutz auf einen Blick</Fragment>
            <Fragment slot="desc"></Fragment>
        </Sectionhead>
        <main class="mt-16">
                <article>
                    <section>
                        <h2 class="font-medium text-2xl text-gray-800">Allgemeine Hinweise</h2>
                        <p class="text-lg leading-relaxed text-slate-500 mt-3">
                            Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren
                            personenbezogenen Daten passiert,
                            wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie
                            persönlich identifiziert werden können.
                            Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text
                            aufgeführten Datenschutzerklärung.
                        </p>
                    </section>

                    <section>
                        <h2 class="font-medium text-2xl text-gray-800 mt-8">Datenerfassung auf dieser Website</h2>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h3>
                        <p class="text-lg leading-relaxed text-slate-500 mt-3">
                            Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen
                            Kontaktdaten können Sie dem Impressum dieser Website entnehmen.
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Wie erfassen wir Ihre Daten?</h3>
                        <p class="text-lg leading-relaxed text-slate-500 mt-3">
                            Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen, z. B. durch ein
                            Kontaktformular.
                            Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch
                            unsere IT-Systeme erfasst.
                            Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des
                            Seitenaufrufs).
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Wofür nutzen wir Ihre Daten?</h3>
                        <p>
                            Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu
                            gewährleisten.
                            Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Welche Rechte haben Sie bezüglich Ihrer Daten?</h3>
                        <p>
                            Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck
                            Ihrer gespeicherten personenbezogenen Daten zu erhalten.
                            Sie können die Berichtigung, Löschung oder Einschränkung der Verarbeitung verlangen sowie
                            der Verarbeitung widersprechen.
                            Darüber hinaus steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
                        </p>
                    </section>

                    <section>
                        <h2 class="font-medium text-2xl text-gray-800">Hosting und Content Delivery Networks (CDN)</h2>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Externes Hosting</h3>
                        <p>
                            Diese Website wird bei einem externen Dienstleister (Hoster) gehostet. Die dabei
                            verarbeiteten Daten umfassen IP-Adressen,
                            Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten, Namen, Webseitenzugriffe u.a.
                        </p>
                        <p>
                            Der Einsatz des Hosters erfolgt zur Vertragserfüllung und im Interesse einer sicheren und
                            effizienten Bereitstellung (Art. 6 Abs. 1 lit. b & f DSGVO).
                        </p>
                        <p>
                            Unser Hoster wird Ihre Daten nur insoweit verarbeiten, wie dies zur Erfüllung seiner
                            Leistungspflichten erforderlich ist.
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Auftragsverarbeitung</h3>
                        <p>
                            Wir haben mit dem Hoster einen Vertrag über Auftragsverarbeitung abgeschlossen.
                        </p>
                    </section>

                    <section>
                        <h2 class="font-medium text-2xl text-gray-800">Allgemeine Hinweise und Pflichtinformationen</h2>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Datenschutz</h3>
                        <p>
                            Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen
                            Vorschriften.
                            Diese Erklärung erläutert, welche Daten wir erfassen und wie wir sie verwenden.
                        </p>
                        <p>
                            Bitte beachten Sie, dass die Datenübertragung im Internet Sicherheitslücken aufweisen kann.
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Verantwortliche Stelle</h3>
                        <address>
                            <strong>Kleingärtnerverein „Im Auenviertel“ e.V.</strong><br>
                            Holtbeck 43<br>
                            48161 Münster<br>
                            Vorsitzender: Dr. Christos Moustakis<br>
                            E-Mail: <a href="">!! MAIL ADRESSE OBFUSCICATION</a>
                        </address>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
                        <p>
                            Sie können eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine
                            formlose Mitteilung per E-Mail.
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Widerspruchsrecht (Art. 21 DSGVO)</h3>
                        <p>
                            Sie haben jederzeit das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben,
                            Widerspruch gegen die Verarbeitung Ihrer
                            personenbezogenen Daten einzulegen.
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Beschwerderecht bei der Aufsichtsbehörde</h3>
                        <p>
                            Im Falle von Verstößen gegen die DSGVO steht Ihnen ein Beschwerderecht bei der zuständigen
                            Aufsichtsbehörde zu.
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Recht auf Datenübertragbarkeit</h3>
                        <p>
                            Sie haben das Recht, Ihre Daten in einem gängigen, maschinenlesbaren Format an sich oder
                            einen Dritten übertragen zu lassen.
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">SSL- bzw. TLS-Verschlüsselung</h3>
                        <p>
                            Diese Seite nutzt aus Sicherheitsgründen eine SSL- bzw. TLS-Verschlüsselung. Erkennbar an
                            „https://“ und einem Schloss-Symbol.
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Auskunft, Löschung, Berichtigung</h3>
                        <p>
                            Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten Daten
                            sowie ggf. ein Recht auf Berichtigung oder Löschung.
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Recht auf Einschränkung der Verarbeitung</h3>
                        <p>
                            In bestimmten Fällen können Sie die Einschränkung der Verarbeitung verlangen (z. B. bei
                            strittiger Richtigkeit, Widerspruch, o.ä.).
                        </p>

                        <h3 class="font-medium text-xl text-gray-800 mt-4">Widerspruch gegen Werbe-E-Mails</h3>
                        <p>
                            Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur
                            Übersendung nicht angeforderter Werbung wird widersprochen.
                        </p>
                    </section>

                    <section>
                        <h2>Datenerfassung auf dieser Website</h2>

                        <h3>Kontaktformular</h3>
                        <p>
                            Die Angaben aus dem Kontaktformular werden zur Bearbeitung Ihrer Anfrage gespeichert. Die
                            Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. b oder f DSGVO.
                        </p>

                        <h3>Anfragen per E-Mail, Telefon oder Telefax</h3>
                        <p>
                            Anfragen über diese Kanäle werden inklusive aller Daten zur Bearbeitung gespeichert. Es
                            gelten dieselben Rechtsgrundlagen wie beim Kontaktformular.
                        </p>
                    </section>

                    <section>
                        <h2>Eigene Dienste</h2>

                        <h3>Umgang mit Bewerberdaten</h3>
                        <p>
                            Wenn Sie sich bei uns bewerben, verarbeiten wir Ihre Daten im Rahmen des
                            Bewerbungsverfahrens nach § 26 BDSG und Art. 6 DSGVO.
                        </p>

                        <h3>Aufbewahrungsdauer der Bewerbungsdaten</h3>
                        <p>
                            Bei Absage werden Ihre Daten bis zu 6 Monate gespeichert. Danach erfolgt eine Löschung,
                            sofern keine anderen Gründe dagegensprechen.
                        </p>

                        <h3>Bewerber-Pool</h3>
                        <p>
                            Mit Ihrer Einwilligung können wir Ihre Daten für zwei Jahre in einem Bewerber-Pool
                            speichern, um Sie bei passenden Stellen zu kontaktieren.
                        </p>
                    </section>

                </article>
            </main>

            </body>
            </html>

        </main>
    </Container>
</Layout>
