---
import Link from "./ui/link.astro";
---
<footer class="my-20">
  <p class="py-3 text-center text-sm text-slate-500">
    <Link
        href={"/impressum"}
        style={"muted"}>
      {"Impressum"}
    </Link>
    <Link
        href={"/datenschutz"}
        block
        style={"muted"}>
      {"Datenschutz"}
    </Link>
    <Link
        href={"/contact"}
        block
        style={"muted"}>
      {"Kontakt"}
    </Link>
  </p>
  <p class="text-center text-sm text-slate-500 mt-4">
    Copyright © {new Date().getFullYear()} Im Auenviertel.
  </p>
</footer>
