---
import Link from "./ui/link.astro";
---
<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Im Auenviertel.
  </p>
  <!--<p class="text-center text-xs text-slate-500 mt-1">-->
  <!--  Made by <a-->
  <!--    href="https://web3templates.com"-->
  <!--    target="_blank"-->
  <!--    rel="noopener"-->
  <!--    class="hover:underline">-->
  <!--  </a>-->
  <!--</p>-->
  <p class="py-3 text-center text-sm text-slate-500">
    <Link
        href={"/impressum"}
        style={"muted"}>
      {"Impressum"}
    </Link>
    <Link
        href={"/datenschutz"}
        block
        style={"muted"}>
      {"Datenschutz"}
    </Link>
    <Link
        href={"/contact"}
        block
        style={"muted"}>
      {"Kontakt"}
    </Link>
  </p>
</footer>
